@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');
html,
body {
    margin: 0;
    padding-left: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

#main {
    padding-left: 100px;
    padding-bottom: 25px;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    overflow: visible;
    background-color: rgb(0, 0, 0);
    z-index: 5000;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#iconbar {
    height: 100vh;
    width: auto;
    display: block;
    float: left;
    z-index: 5000;
    overflow-x: hidden;
    overflow-y: auto;
}

#iconbar ul {
    width: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 5000;
}

#iconbar ul li {
    display: block;
    border-left: solid 0px #7876f8;
    -webkit-transition: border-left 0.2s ease;
    transition: border-left 0.2s ease;
}

#iconbar ul li.mobile {
    display: none;
}

#iconbar ul li:hover {
    border-left: solid 7px #7876f8;
    -webkit-transition: border-left 0.2s ease;
    transition: border-left 0.2s ease;
}

.li-img img {
    width: 34px;
    height: auto;
    margin: 0 auto;
    display: block;
}

#tog-button-desktop .li-img img {
    margin-top: 12.5%;
}

.nav-desc,
.extra-info {
    display: none;
}

#tog-button-desktop {
    display: block;
    width: 85px;
    height: auto;
}

#tog-button-mobile {
    display: none;
}

#tog-button-mobile .li-img,
#tog-button-mobile .li-text {
    transform: none;
}

#tog-button-desktop:hover {
    border-left: solid 0px #7876f8;
}

.nav-item {
    width: 95px;
    height: auto;
    padding: 10% 0 10%;
    cursor: pointer;
}

.li-text {
    text-align: center;
    font-size: calc(1.5vh);
    position: relative;
    left: -95px;
    -webkit-transition: left 100ms ease-in-out;
    transition: left 100ms ease-in-out;
    margin: 10px 0 0;
}

.vis {
    left: 0px;
    -webkit-transition: left 100ms ease-in-out;
    transition: left 100ms ease-in-out;
}

#infobar {
    width: 0;
    height: 100%;
    float: left;
    overflow: hidden;
    z-index: 4000;
}

.infobar-content {
    position: relative;
    opacity: 0;
    padding: 10px 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.infobar-content p {
    font-size: 1em;
    text-align: left;
}

.dropdown {
    display: none;
}

.nav-highlight-item {
    border-left: solid 7px #DF9EF3 !important;
}

.expand-menu {
    margin-left: -20px;
    margin-right: -20px;
    width: 300px;
}

.expand-menu-img {
    width: 50px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}

.expand-menu-img.active {
    border-style: solid;
    border-width: thin;
    border-color: aqua;
}

.expand-menu-text {
    padding-left: 20px;
    padding-right: 20px;
    height: 0px;
    overflow-y: hidden;
    opacity: 0;
    transition: height 0.2s ease-in, opacity 0.3s ease-in;
}

.expand-menu-text.active {
    height: auto;
    opacity: 1;
    transition: height 0.2s ease-in, opacity 0.3s ease-in;
}

.expand-img-highlight {
    border: solid thin #DF9EF3 !important;
}

.desktop .li-img img {
    border-radius: 50%;
    border: 1px solid white;
    width: 34px;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4vh;
    background: #000;
    display: flex;
    color: white;
    display: none;
    z-index: 5000;
}

#social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#links {
    position: absolute;
    right: 0;
    font-size: 2vh;
    line-height: 4vh;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#links a,
#floating-footer a {
    color: white;
    text-decoration: none;
}

#links li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

#social img {
    height: 3vh;
    margin: 0.5vh 5px;
    width: auto;
}

#floating-footer {
    position: fixed;
    z-index: 5000;
    bottom: 50px;
    right: 50px;
    transform-origin: bottom right;
    transform: scale(0.6);
}

.fab-icon {
    height: 120px;
    width: 120px;
    float: left;
}

.triangle-isosceles {
    position: relative;
    padding: 10px;
    margin: 1em 0 3em;
    border-radius: 10px;
}

.triangle-isosceles:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 25px);
    width: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #000 transparent;
    padding-bottom: 5px;
}

.fab-icon img {
    position: relative;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid rgb(50, 50, 50);
    background-color: black;
    box-shadow: -2px -2px 2px #888888;
}

.fab-desc {
    position: relative;
    top: 0;
    width: 140px;
    height: 40px;
    background-color: black;
    align-content: center;
    vertical-align: middle;
    margin: 0 0 0.8vh 0;
    visibility: hidden;
    border-radius: 1vh;
    border: 1px solid black;
}

.fab-icon:hover .fab-desc {
    visibility: visible;
}

.fab-desc h6 {
    color: white;
    position: relative;
    top: 50%;
    margin: 0 auto 0 auto;
    transform: translateY(-50%);
    font-size: 1.25em;
    text-align: center;
}

#links a {
    color: white;
    text-decoration: none;
}

#links li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

#social img {
    height: 3vh;
    margin: 0.5vh 5px;
    width: auto;
}

.notification {
    display: block;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 10000000;
    width: 20%;
    height: auto;
    background-color: #000;
    color: #fff;
    padding: 20px 60px 20px 20px;
    border-radius: 15px;
    text-align: left;
    font-size: 1.2em;
}

.notification a {
    text-decoration: underline;
}

.notification a:hover {
    color: #c6c6f7;
}

.notification-close {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(0.5);
    transform-origin: 100% 0;
}

@media only screen and (max-width: 900px) {
    *:focus {
        outline: none;
    }
    #header-logo {
        padding: 10px 20px 10px 20px;
        width: 40px;
        height: 40px;
        float: left;
    }
    #title {
        margin: 0;
        font-size: 2em;
    }
    #main {
        padding-left: 0;
        margin: 0;
        padding-top: 60px;
    }
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 60px;
        max-height: 100%;
        width: 100%;
    }
    #iconbar {
        height: 0;
        max-height: 100%;
        position: fixed;
        width: 100%;
        top: 60px;
        display: block;
        background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        overflow-y: auto;
    }
    #iconbar ul {
        /* height: auto; */
        width: 100%;
        list-style: none;
        display: inline-block;
        padding: 0;
    }
    #iconbar ul li,
    .extra-info {
        background-color: rgba(0, 0, 0, 0.4);
    }
    #iconbar ul li:hover {
        border-left: none;
    }
    #tog-button-desktop,
    #tog-button-desktop * {
        height: 0;
        display: none;
        padding: 0;
        margin: 0;
    }
    #tog-button-mobile {
        position: fixed;
        display: block;
        width: 100%;
        height: 60px;
        background-color: rgb(0, 0, 0);
        z-index: 5001;
    }
    .nav-item {
        clear: both;
        width: 100%;
        height: 60px;
        align-content: center;
        align-items: center;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        padding: 0;
    }
    .li-img {
        top: -15px;
        position: relative;
        float: left;
        width: 80px;
        height: 60px;
    }
    .li-img img {
        width: 35px;
        height: 35px;
        margin: 5px 15px;
        padding: 10px;
    }
    #tog-button-mobile .li-img {
        float: right;
        top: 0px;
        width: 80px;
    }
    #tog-button-mobile .li-img img {
        padding: 10px 28px 15px 22px;
    }
    #tog-button-mobile .li-text {
        top: calc(30px - 1.2em);
    }
    .dropdown img {
        display: block;
        height: 15px;
        width: auto;
        margin: 10px auto;
    }
    .dropdown {
        position: relative;
        display: block;
        float: left;
        left: 0px;
        height: 60px;
        width: 80px;
        transform: rotate(0deg);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav-highlight-item {
        border-left: none !important;
    }
    .nav-highlight-item .li-img img {
        border-radius: 50%;
        border: solid 2px #DF9EF3 !important;
    }
    .inverted {
        transform: rotate(180deg);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .extra-info {
        display: block;
        height: 0;
        width: 100%;
        clear: both;
        overflow: hidden;
        padding: 0 15px 0px;
        box-sizing: border-box;
    }
    .extra-info h3 {
        display: none;
    }
    .extra-info p {
        margin: 0 0 5% 0;
    }
    .li-text {
        margin-top: 0px;
        position: relative;
        float: left;
        left: 0px;
        top: calc(30px - 1.2em);
        font-size: 1.2em;
        width: calc(100% - 80px - 82px);
    }
    .nav-desc {
        margin: 0;
        position: absolute;
        align-content: center;
        align-items: center;
        vertical-align: middle;
        display: inline;
        left: 82px;
    }
    .nav-desc h3 {
        margin: 5px 0 0 0;
        text-align: center;
    }
    #infobar {
        width: 0;
        height: 0;
        display: none;
    }
    .infobar-content {
        width: 0;
        height: 0;
        display: none;
    }
    #floating-footer {
        display: none;
    }
    #footer {
        display: flex;
    }
    #social {
        left: 5px;
        transform: translateX(0);
    }
    .notification {
        bottom: 37px;
        width: 100%;
        right: 0;
        top: auto;
        box-sizing: border-box;
        border-radius: 0;
        opacity: 0;
    }
    .desktop {
        display: none!important;
    }
    #iconbar ul li.mobile {
        display: block;
    }
}