@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');

html,
body {
    margin: 0;
    padding-left: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    line-height: 1.2;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}

.content p {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}

.noscroll {
    overflow: hidden;
    position: fixed;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    overflow-x:  hidden!important;
    background-color: rgb(0, 0, 0);
    z-index: 5000;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#iconbar {
    height: 100vh;
    width: auto;
    display: inline-block;
    float: left;
    z-index: 5000;
    overflow-x: hidden;
    overflow-y: auto;
}

#iconbar ul {
    width: 100px;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5000;
}

#iconbar ul li {
    display: block;
    border-left: solid 0px #7876f8;
    -webkit-transition: border-left 0.2s ease;
    transition: border-left 0.2s ease;
}

#iconbar ul li:hover {
    border-left: solid 7px #7876f8;
    -webkit-transition: border-left 0.2s ease;
    transition: border-left 0.2s ease;
}

.li-img {
    transform: translateY(25%);
}

.li-img img {
    width: 34px;
    height: auto;
    margin: 0 28.75% 0;
}

#tog-button-desktop .li-img img {
    margin-top: 12.5%;
}

.nav-desc,
.extra-info {
    display: none;
}

#tog-button-desktop {
    display: block;
    width: 95px;
    height: 9.8vh;
}

#tog-button-mobile {
    display: none;
}

#tog-button-mobile .li-img,
#tog-button-mobile .li-text {
    transform: none;
}

#tog-button-desktop:hover {
    border-left: solid 0px #7876f8;
}

.nav-item {
    width: 95px;
    height: 9.8vh;
}

.li-text {
    text-align: center;
    font-size: calc(1.5vh);
    position: relative;
    left: -95px;
    -webkit-transition: left 100ms ease-in-out;
    transition: left 100ms ease-in-out;
    margin: 10px 0 10px;
    transform: translateY(50%);
}

.vis {
    left: 0px;
    -webkit-transition: left 100ms ease-in-out;
    transition: left 100ms ease-in-out;
}

.mobile {
    display: none!important;
}

.nav-footer {
    position: relative;
    /* top: calc(100vh - (5 + 3) * 9.8vh); */
}

.nav-footer .li-img img {
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
}
#infobar {
    width: 0;
    height: 100%;
    float: left;
    overflow-x: hidden!important;
    z-index: 4000;
}

.infobar-content {
    position: absolute;
    opacity: 0;
    padding: 10px 20px;
    -webkit-backface-visibility: hidden;
}

.infobar-content p {
    font-size: 1em;
    text-align: left;
}

.dropdown {
    display: none;
}

.expand-menu {
    margin-left: -20px;
    margin-right: -20px;
    width: 300px;
}

.expand-menu-img {
    width: 50px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}

.expand-menu-img.active {
    border-style: solid;
    border-width: thin;
    border-color: aqua;
}

.expand-menu-text {
    padding-left: 20px;
    padding-right: 20px;
    height: 0px;
    overflow-y: hidden;
    opacity: 0;
    transition: height 0.2s ease-in, opacity 0.3s ease-in;
}

.expand-menu-text.active {
    height: auto;
    opacity: 1;
    transition: height 0.2s ease-in, opacity 0.3s ease-in;
}

.expand-img-highlight {
    border: solid thin #DF9EF3 !important;
}

#disabler {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4999;
    background-color: black;
    opacity: 0.25;
    display: none;
}

.content-right {
    float: left;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.subject {
    position: fixed;
    font-size: 3em;
    top: 0px;
    left: 90px;
}

.content {
    display: flex;
    position: relative;
    height: 100vh;
    width: calc(100% - 90px);
    padding-left: 90px;
    align-items: center;
}

.content ol,
.content ul {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

.content-img {
    height: 50%;
    margin: auto;
    display: inline-block;
}

.nav-highlight-item {
    border-left: solid 7px #DF9EF3 !important;
}

.content-text {
    padding-left: 60px;
    padding-right: 100px;
    width: calc(60% - 80px);
    line-height: 100%;
    display: inline-block;
    text-align: justify;
}

#fullpage {
    z-index: 1000;
    overflow-y: hidden;
    overflow-x: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4vh;
    background: rgb(51, 50, 51);
    display: flex;
    color: white;
    z-index: 5000;
    display: none;
}

#social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#main {
    position: absolute;
    left: 110px;
}

#links {
    position: absolute;
    right: 0;
    font-size: 2vh;
    line-height: 4vh;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.card {
    position: relative;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.65);
    width: 80vw;
    left: 2vw;
    margin-top: 25px;
    height: auto;
    border-radius: 20px;
    border: 1px solid white;
    padding: 2% 5%;
}
.inner-card {
    left: 0;
    width: 80%;    
    height: auto;
    margin-top: 25px;
    text-align: justify;
    border-radius: 20px;
    border: 1px solid white;
    padding: 0 5%;
}
table {
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
}
table, th, td {
    border-spacing: 0;
}
tr td:first-child, thead th:first-child {
	border-right: 1px solid black;
}
thead th {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}
th, td {
    padding: 10px;
}
#links a {
    color: white;
    text-decoration: none;
}

#links li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

#social img {
    height: 3vh;
    margin: 0.5vh 5px;
    width: auto;
}

#floating-footer {
    position: fixed;
    z-index: 5000;
    bottom: 50px;
    right: 50px;
    transform-origin: bottom right;
    transform: scale(0.6);
}

.fab-icon {
    height: 120px;
    width: 120px;
    float: left;
}

.triangle-isosceles {
    position: relative;
    padding: 10px;
    margin: 1em 0 3em;
    border-radius: 10px;
}




/* creates triangle */

.triangle-isosceles:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 25px);
    width: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #000 transparent;
    padding-bottom: 5px;
}

.fab-icon img {
    position: relative;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid rgb(50, 50, 50);
    background-color: black;
    box-shadow: -2px -2px 2px #888888;
}

.fab-desc {
    position: relative;
    top: 0;
    width: 140px;
    height: 40px;
    background-color: black;
    align-content: center;
    vertical-align: middle;
    margin: 0 0 0.8vh 0;
    visibility: hidden;
    border-radius: 1vh;
    border: 1px solid black;
}

.fab-icon:hover .fab-desc {
    visibility: visible;
}

.fab-desc h6 {
    color: white;
    position: relative;
    top: 50%;
    margin: 0 auto 0 auto;
    transform: translateY(-50%);
    font-size: 1.25em;
    text-align: center;
}

@media only screen and (max-width: 900px),
(max-height: 500px) {

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 60px;
        max-height: 100%;
        width: 100%;
    }
    #iconbar {
        height: 0;
        max-height: 100%;
        position: fixed;
        width: 100%;
        top: 60px;
        display: block;
        background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        overflow-y: auto;
    }
    #iconbar ul {
        /* height: auto; */
        width: 100%;
        list-style: none;
        display: inline-block;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #iconbar ul li:hover {
        border-left: none;
    }
    #tog-button-desktop,
    #tog-button-desktop * {
        height: 0;
        display: none;
        margin: 0;
        padding: 0;
    }
    #tog-button-mobile {
        position: fixed;
        display: block;
        width: 100%;
        height: 60px;
        background-color: rgb(0, 0, 0);
        z-index: 5001;
    }
    .nav-item {
        clear: both;
        width: 100%;
        height: 60px;
        align-content: center;
        align-items: center;
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
    #main {
        /* top: 80px; */
        left: 0;
    }
    .card {
        left: 1%;
        width: 88%;
    }
    .inner-card {
        margin-left: -2.5%;
        width: 95%;
    }
    .card ol {
        padding-left: 0;
        list-style-type: none!important;
    }
    .card ul {
        padding-left: 10px;
        padding-right: 5px;
    }
    #disabler {
        display: none;
    }
    .nav-highlight-item {
        border: none !important;
    }
    .content p {
        font-weight: 400;
        font-size: 1em;
    }
    .li-img {
        top: -15px;
        position: relative;
        float: left;
        width: 80px;
        height: 60px;
    }
    .li-img img {
        margin: 0;
        padding: 15px 25px 15px 25px;
    }
    #tog-button-mobile .li-img {
        float: right;
        top: 0px;
        width: 80px;
    }
    #tog-button-mobile .li-img img {
        padding: 15px 28px 15px 22px;
    }
    #tog-button-mobile .li-text {
        top: calc(30px - 1.2em);
    }
    .extra-info h3 {
        display: none;
    }
    .dropdown img {
        display: block;
        height: 15px;
        width: auto;
        margin: 22.5px auto;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        float: left;
        left: 0px;
        height: 60px;
        width: 80px;
        transform: rotate(0deg);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .inverted {
        transform: rotate(180deg);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .extra-info {
        display: block;
        height: 0;
        width: 100%;
        clear: both;
        overflow: hidden;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .extra-info h3 {
        margin-top: 5px;
    }
    .li-text {
        margin-top: 0px;
        position: relative;
        float: left;
        left: 0px;
        top: calc(30px - 1.2em);
        font-size: 1.2em;
        width: calc(100% - 80px - 82px);
    }
    .nav-desc {
        margin: 0;
        position: absolute;
        align-content: center;
        align-items: center;
        vertical-align: middle;
        display: inline;
        width: calc(100% - 80px - 82px);
        height: 60px;
        left: 82px;
    }
    .nav-desc h3 {
        margin: 5px 0 0 0;
        text-align: center;
    }
    #header-logo {
        padding: 10px 20px 10px 20px;
        width: 40px;
        height: 40px;
        float: left;
    }
    #title {
        margin: 0;
        font-size: 2em;
    }
    .content {
        display: flex;
        position: relative;
        top: 20px;
        height: calc(94vh - 6px);
        width: 100vw;
        padding-left: 0;
        align-items: center;
    }
    .content-text {
        width: 80%;
        height: auto;
        text-align: left;
        padding-left: 40px;
        padding-right: 80px;
    }
    .content-text h1 {
        font-size: 1.25em;
    }
    .content-img {
        display: none;
    }
    .subject {
        position: fixed;
        display: block;
        font-size: 1.75em;
        top: 70px;
        margin-left: auto;
        margin-right: auto;
    }
    #floating-footer {
        display: none;
    }
    #footer {
        bottom: 0;
        display: flex;
    }
    #social {
        left: 5px;
        transform: translateX(0);
    }
    .mobile {
        display: block!important;
    }
    .desktop {
        display: none!important;
    }
}
