<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registration | Battle of Bands | Pravega 2018</title>
    {% load static %}
    <meta name="description" content="Registration for Battle of Bands">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/reg.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/hamburger.css' %}" rel="stylesheet" type="text/css" />
    <style>
        body {
            background-image: url({% static "img/physics_back.svg" %});
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <!--SideBar-->
    <div id="sidebar" class="clearfix">
        <div id="tog-button-mobile">
            <div class="li-img">
                <button class="c-hamburger c-hamburger--htx">
                    <span>toggle menu</span>
                </button>
            </div>
            <a href="http://pravega.org/index.html">
                <img id="header-logo" src="{% static 'img/logo.svg' %}" />
                <div class="li-text nav-desc">
                    <h3 id="title">Pravega</h3>
                </div>
            </a>
        </div>
        <div id="iconbar">
            <ul>
                <li id="tog-button-desktop" class="nav-item desktop">
                    <div class="li-img">
                        <button class="c-hamburger c-hamburger--htx">
                            <span>toggle menu</span>
                        </button>
                    </div>
                    <div class="li-text nav-desc">
                        <h3>Some text toggle</h3>
                    </div>
                </li>
                <li class="nav-item desktop nav-footer">
                    <a href="http://pravega.org/index.html">
                        <div class="li-img"><img src="{% static 'img/home.svg' %}"></div>
                        <div class="li-text">Main Page</div>
                    </a>
                    <div class="extra-info">
                        <h3>Main Page</h3>
                        <p>Lost? Tired of reading this? Get back to the main page!</p>
                    </div>
                </li>
                <li class="nav-item desktop">
                    <a href="#">
                        <div class="li-img"><img src="{% static 'img/Science.png' %}" /></div>
                        <div class="li-text">Science</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                    </div>
                </li>
                <li class="nav-item desktop">
                    <a href="#">
                        <div class="li-img"><img src="{% static 'img/Cultural.png' %}" /></div>
                        <div class="li-text">Cultural</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/pis.html">
                        <div class="li-img"><img src="{% static 'img/PIS.png' %}" /></div>
                        <div class="li-text">PIS</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Pravega Innovation Summit</h3>
                        <p>Pravega Innovation Summit is the flagship event of Pravega 2018, IISc, which is an initiative to bring researchers, students and investors, together, providing a platform for networking and exchange of ideas to foster collaboration.</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/hackathon.html">
                        <div class="li-img">
                            <img src="{% static 'img/Hackathon.png' %}" />
                        </div>
                        <div class="li-text">Hackathon</div>
                    </a>
                    <div class="dropdown">
                        <img src="{% static 'img/downCaret.png' %}">
                    </div>
                    <div class="extra-info">
                        <h3>Hackathon</h3>
                        <p>Utilize the latest and greatest in machine learning to help computers understand emotions in our Hackathon!</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/workshops.html">
                        <div class="li-img"><img src="{% static 'img/Workshops.png' %}" /></div>
                        <div class="li-text">Workshops</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Workshops</h3>
                        <p>Ever wanted to learn something of great value, which would help your career in the future? Or maybe you wanted to learn something fun. Either way, take your pick from the wide variety of workshops in Pravega. We guarantee that
                            at the end of the day, you would have learned something new.</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/quiz.html">
                        <div class="li-img"><img src="{% static 'img/Quiz.png' %}" /></div>
                        <div class="li-text">Quizzes</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Quizzes</h3>
                        <p>Delve into the world of quizzing in Pravega and pit your brains against others for glory and magnificent rewards!</p>
                    </div>
                </li>
                <li class="nav-item mobile">
                    <a href="http://pravega.org/biology.html">
                        <div class="li-img"><img src="{% static 'img/Biology.png' %}" /></div>
                        <div class="li-text">Biology</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Biology</h3>
                        <p>Biology gives you a brain, life turns it into a mind. Exercise that mind to find the culprit of a murder in Whodunit, and to paint up a masterpiece in PECOSA.</p>
                    </div>
                </li>
                <li class="nav-item mobile">
                    <a href="http://pravega.org/chemistry.html">
                        <div class="li-img"><img src="{% static 'img/Chemistry.png' %}" /></div>
                        <div class="li-text">Chemistry</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Chemistry</h3>
                        <p>Never trust atoms, they make up everything. Make up your artwork using mysterious chemical concoctions, and then explain the CheMystery behind the masked magician's acts.</p>
                    </div>
                </li>
                <li class="nav-item mobile">
                    <a href="http://pravega.org/maths.html">
                        <div class="li-img"><img src="{% static 'img/math.png' %}" /></div>
                        <div class="li-text">Mathematics</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Maths</h3>
                        <p>Mathematics is a place where you can do things, which you cannot do in the real world. Explore this idea, as you strategize for the Daedalian auction and learn the Tricks of Trade.</p>
                    </div>
                </li>
                <li class="nav-item mobile">
                    <a href="http://pravega.org/physics.html">
                        <div class="li-img"><img src="{% static 'img/Physics.png' %}" /></div>
                        <div class="li-text">Physics</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Physics</h3>
                        <p>No one undertakes research in Physics with the intention of winning a prize. They do it for the joy of discovering something no one knew before. Explore this joy while experiencing Decoherence, and shoot a Vacuum Cannon while you’re
                            at it.</p>
                    </div>
                </li>
                <li class="nav-item mobile">
                    <a href="http://pravega.org/engine.html">
                        <div class="li-img"><img src="{% static 'img/Technical.png' %}" /></div>
                        <div class="li-text">Engineering</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Engineering</h3>
                        <p>Engineering is the closest thing to magic existing in the world. Use that magic to create robots and tanks, and enjoy the same while shooting your enemies down in a game of laser tag.</p>
                    </div>
                </li>
                <li class="nav-item mobile">
                    <a href="http://pravega.org/lasya.html">
                        <div class="li-img"><img src="{% static 'img/Lasya.png' %}" /></div>
                        <div class="li-text">Lasya</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Lasya</h3>
                        <p>Dance is magical, something that sets you free. It is dreaming with your feet, and exhibiting your passion. Display your own passion in this dance extravaganza, and leave the stage on fire.</p>
                    </div>
                </li>
                <li class="nav-item mobile">
                    <a href="http://pravega.org/bob.html">
                        <div class="li-img"><img src="{% static 'img/BoB.png' %}" /></div>
                        <div class="li-text">BoB</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Battle of Bands</h3>
                        <p>A band is not proud because it performs well, it performs well because it is proud. Put your pride and that of your band on the line, in the Battle of the Bands, and blow the roof off!</p>
                    </div>
                </li>
                <li class="nav-item mobile">
                    <a href="http://pravega.org/pros.html">
                        <div class="li-img"><img src="{% static 'img/Proscenium.png' %}" /></div>
                        <div class="li-text">Proscenium</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Proscenium</h3>
                        <p>Acting is everyone’s favorite second-job. Change your look and your attitude, and you can be anyone. In Proscenium, we believe an ounce of action is worth a pound of words. So stop explaining yourself, Act!</p>
                    </div>
                </li>
                <li class="nav-item desktop nav-footer nav-highlight-item">
                    <a target="_blank" href="http://pravega.org/registrations/">
                        <div class="li-img"><img src="{% static 'img/register.png' %}"></div>
                        <div class="li-text">Registrations</div>
                    </a>
                    <div class="extra-info">
                        <h3>Registrations</h3>
                        <p>Registrations Portal for Pravega Innovation Summit, Battle of Bands, Lasya, Proscenium and Workshops.</p>
                    </div>
                </li>
                <li class="nav-item desktop nav-footer">
                    <a target="_blank" href="http://pravega.org/contact.html">
                        <div class="li-img"><img src="{% static 'img/phone.svg' %}"></div>
                        <div class="li-text">Contact Us</div>
                    </a>
                    <div class="extra-info">
                        <h3>Contact Us</h3>
                        <p>Contact our co-ordinators for any help you may require or queries you might have.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div id="infobar">
            <div class="infobar-content">
                <h2>Introduction</h2>
                <p>Go on, click on one of the buttons below, to discover a host of exciting events, which you might want to check out!
                </p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/index.html">
                    <h2>Main Page</h2>
                </a>
                <p>Lost? Tired of reading this? Get back to the main page!</p>
            </div>
            <div class="infobar-content">
                <a href="#">
                    <h2>Science</h2>
                </a>
                <div class="expand-menu">
                    <img class="expand-menu-img active" onclick="window.location.href='http://pravega.org/biology.html'" src="{% static 'img/Biology.png' %}" />
                    <img class="expand-menu-img" onclick="window.location.href='http://pravega.org/maths.html'" src="{% static 'img/math.png' %}" />
                    <img class="expand-menu-img" onclick="window.location.href='http://pravega.org/physics.html'" src="{% static 'img/Physics.png' %}" />
                    <img class="expand-menu-img" onclick="window.location.href='http://pravega.org/chemistry.html'" src="{% static 'img/Chemistry.png' %}" />
                    <img class="expand-menu-img" onclick="window.location.href='http://pravega.org/engine.html'" src="{% static 'img/Technical.png' %}" />
                    <div class="expand-menu-text active">
                        <a href="http://pravega.org/biology.html">
                            <h4>Biology</h4>
                        </a>
                        <p>Biology gives you a brain, life turns it into a mind. Exercise that mind to find the culprit of a murder in Whodunit, and to paint up a masterpiece in PECOSA.</p>
                    </div>
                    <div class="expand-menu-text">
                        <a href="http://pravega.org/maths.html">
                            <h4>Mathematics</h4>
                        </a>
                        <p>Mathematics is a place where you can do things, which you cannot do in the real world. Explore this idea, as you strategize for the Daedalian auction and learn the Tricks of Trade.</p>
                    </div>
                    <div class="expand-menu-text">
                        <a href="http://pravega.org/physics.html">
                            <h4>Physics</h4>
                        </a>
                        <p>No one undertakes research in Physics with the intention of winning a prize. They do it for the joy of discovering something no one knew before. Explore this joy while experiencing Decoherence, and shoot a Vacuum Cannon while you’re
                            at it.</p>
                    </div>
                    <div class="expand-menu-text">
                        <a href="http://pravega.org/chemistry.html">
                            <h4>Chemistry</h4>
                        </a>
                        <p>Never trust atoms, they make up everything. Make up your artwork using mysterious chemical concoctions, and then explain the CheMystery behind the masked magician's acts.</p>
                    </div>
                    <div class="expand-menu-text">
                        <a href="http://pravega.org/engine.html">
                            <h4>Engineering</h4>
                        </a>
                        <p>Engineering is the closest thing to magic existing in the world. Use that magic to create robots and tanks, and enjoy the same while shooting your enemies down in a game of laser tag.</p>
                    </div>
                </div>
            </div>
            <div class="infobar-content">
                <a href="#">
                    <h2>Cultural</h2>
                </a>
                <div class="expand-menu">
                    <img class="expand-menu-img active" onclick="window.location.href='http://pravega.org/lasya.html'" src="{% static 'img/Lasya.png' %}" />
                    <img class="expand-menu-img" onclick="window.location.href='http://pravega.org/bob.html'" src="{% static 'img/BoB.png' %}" />
                    <img class="expand-menu-img" onclick="window.location.href='http://pravega.org/pros.html'" src="{% static 'img/Proscenium.png' %}" />
                    <div class="expand-menu-text active">
                        <a href="http://pravega.org/lasya.html">
                            <h4>Lasya</h4>
                        </a>
                        <p>Dance is magical, something that sets you free. It is dreaming with your feet, and exhibiting your passion. Display your own passion in this dance extravaganza, and leave the stage on fire.
                        </p>
                    </div>
                    <div class="expand-menu-text">
                        <a href="http://pravega.org/bob.html">
                            <h4>Battle of Bands</h4>
                        </a>
                        <p>A band is not proud because it performs well, it performs well because it is proud. Put your pride and that of your band on the line, in the Battle of the Bands, and blow the roof off!</p>
                    </div>
                    <div class="expand-menu-text">
                        <a href="http://pravega.org/pros.html">
                            <h4>Proscenium</h4>
                        </a>
                        <p>Acting is everyone’s favorite second-job. Change your look and your attitude, and you can be anyone. In Proscenium, we believe an ounce of action is worth a pound of words. So stop explaining yourself, Act!</p>
                    </div>
                </div>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/pis.html">
                    <h2>Pravega Innovation Summit</h2>
                </a>
                <p>Pravega Innovation Summit is the flagship event of Pravega 2018, IISc, which is an initiative to bring researchers, students and investors, together, providing a platform for networking and exchange of ideas to foster collaboration.</p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/hackathon.html">
                    <h2>Hackathon</h2>
                </a>
                <p>Utilize the latest and greatest in machine learning to help computers understand emotions in our Hackathon!</p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/workshops.html">
                    <h2>Workshops</h2>
                </a>
                <p>Ever wanted to learn something of great value, which would help your career in the future? Or maybe you wanted to learn
                    something fun. Either way, take your pick from the wide variety of workshops in Pravega. We guarantee that at the
                    end of the day, you would have learned something new.
                </p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/quiz.html">
                    <h2>Quizzes</h2>
                </a>
                <p>Delve into the world of quizzing in Pravega and pit your brains against others for glory and magnificent rewards!</p>
            </div>
            <div class="infobar-content">
                <a target="_blank" href="http://pravega.org/registrations/">
                    <h2>Registrations</h2>
                </a>
                <p>Registrations Portal for Pravega Innovation Summit, Battle of Bands, Lasya, Proscenium and Workshops.</p>
            </div>
            <div class="infobar-content">
                <a target="_blank" href="http://pravega.org/contact.html">
                    <h2>Contact Us</h2>
                </a>
                <p>Contact our co-ordinators for any help you may require or queries you might have.</p>
            </div>
        </div>
    </div>
    <!-- SideBar gets over-->
    <div id="disabler"></div>
    <div id="main">
        <div class="content">
            <h1 id="registration-title">Battle of Bands</h1> {% if error_message %}
            <div class="form-error"><strong>{{ error_message }}</strong></div>{% endif %}
            <form action="{% url 'registrations:bob' %}" method="post" enctype="multipart/form-data" id="msform">
                <ul id="progressbar">
                    <li>Rules</li>
                    <li>Identification</li>
                    <li>Contact
                        <br/>Details</li>
                    <li>Prelims
                        <br/>Information</li>
                    <li>Participant
                        <br/>Details</li>
                </ul>
                {% csrf_token %} {% if registration_form.errors %}
                <div class="errors"> {% for field in registration_form %} {% for error in field.errors %}
                    <p> {{ errors }} </p>
                    {% endfor %} {% endfor %} {% for error in registration_form.non_field_errors %}
                    <p> {{ error }} </p>
                    {% endfor %}
                </div>
                {% endif %}
                <fieldset>
                    <h2>Rules and Regulations</h2>
                    <ol class="rules">
                        <li>All bands are allowed to participate, regardless of age.</li>
                        <li>There are no language or genre restrictions on the entries.</li>
                        <li>The contest comprises of 3 stages. The rules for the different stages are:
                            <ol class="deep" style="font-size:0.8em;">
                                <li>Registration:
                                    <ol class="deep" style="font-size:0.85em;">
                                        <li>Bands can register online at our portal. There will be no registration fee.</li>
                                        <li>The band will be considered only if they upload or link to (on SoundCloud, ReverbNation, or, failing all else, Youtube) one of their tracks as a sample during registration.</li>
                                    </ol>
                                </li>
                                <li>Prelims:
                                    <ol class="deep" style="font-size:0.85em;">
                                        <li>We shall select anything between 5 to 8 bands from each city for the city prelims at the specified venue depending on the number of registrations.</li>
                                        <li>Each band will get 20+5 minutes for their performance in the prelims, which includes sound check. However, bands will be given a total of half an hour before the prelims begin to have a preliminary master sound
                                            balancing. The bands can perform as many tracks as they want to in that time limit.</li>
                                    </ol>
                                </li>
                                <li>Finals:
                                    <ol class="deep" style="font-size:0.85em;">
                                        <li>The finals will be conducted at IISc, Bangalore during the course of Pravega 2018.</li>
                                        <li>The bands will perform for 20+10 minutes. This includes the set up time.</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>Pravega will have the right to use any of the music tracks for future promotional purposes, with due credit given to the band.</li>
                        <li>Any dispute arising due to any confusion regarding the contest shall be resolved at IISc by Battle of Bands, Pravega and the decision or resolution provided will be considered final.</li>
                        <li>Participants will <b>NOT</b> be provided accomodation by Pravega.</li>
                        <li><strong>The "Referral Code" field is not required for submitting registrations.</strong></li>
                        <li>Pravega reserves the right to change specifics of the competition including rules and regulations, bands selected, prize amounts, etc., if necessary.
                            <br/>All decisions by Pravega shall be final and binding.</li>
                    </ol>
                    <br/>
                    <p>Have you read and understood the above regulations?</p>
                    <label for="{{ registration_form.understood.id_for_label }}" style="padding-left:2%;">Yes</label> {{ registration_form.understood }}
                    <br/>
                    <input type="button" name="next" id="continue" class="action-button" value="Continue" />
                </fieldset>
                <fieldset class="real">
                    {{ registration_form.referral_code.label_tag }} {{ registration_form.referral_code }} {% if registration_form.referral_code.errors %}
                    <div class="errors"> {% for error in registration_form.referral_code.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.band_name.label_tag }} {{ registration_form.band_name }} {% if registration_form.band_name.errors %}
                    <div class="errors"> {% for error in registration_form.band_name.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.city.label_tag }} {{ registration_form.city }} {% if registration_form.city.errors %}
                    <div class="errors"> {% for error in registration_form.city.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.genre.label_tag }} {{ registration_form.genre }} {% if registration_form.genre.errors %}
                    <div class="errors"> {% for error in registration_form.genre.errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset class="real">
                    {{ registration_form.facebook_link.label_tag }} {{ registration_form.facebook_link }} {% if registration_form.facebook_link.errors %}
                    <div class="errors"> {% for error in registration_form.facebook_link.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.email.label_tag }} {{ registration_form.email }} {% if registration_form.email.errors %}
                    <div class="errors"> {% for error in registration_form.email.errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset class="real">
                    {{ registration_form.prelims_venue.label_tag }} {{ registration_form.prelims_venue }} {% if registration_form.prelims_venue.errors %}
                    <div class="errors"> {% for error in registration_form.prelims_venue.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.audio_sample_file.label_tag }} {{ registration_form.audio_sample_file }} {% if registration_form.audio_sample_file.errors %}
                    <div class="errors"> {% for error in registration_form.audio_sample_file.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.audio_sample_link.label_tag }} {{ registration_form.audio_sample_link }} {% if registration_form.audio_sample_link.errors %}
                    <div class="errors"> {% for error in registration_form.audio_sample_link.errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset class="real" id="participants">
                    {% if participant_formset.non_form_errors %}
                    <div class="errors">{% for error in participant_formset.non_form_errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ participant_formset.management_form }} {% for participant_form in participant_formset %}
                    <div class="participant-formset">
                        {% if participant_form.errors %}
                        <div class="errors"> {% for field in participant_form %} {% for error in field.errors %}
                            <p> {{ errors }} </p>
                            {% endfor %} {% endfor %}
                        </div>
                        {% endif %} {{ participant_form.name.label_tag }} {{ participant_form.name }} {% if participant_form.name.errors %}
                        <div class="errors"> {% for error in participant_form.name.errors %} {{ error|escape }} {% endfor %} </div>
                        {% endif %} {{ participant_form.contact.label_tag }} {{ participant_form.contact }} {% if participant_form.contact.errors %}
                        <div class="errors"> {% for error in participant_form.contact.errors %} {{ error|escape }} {% endfor %} </div>
                        {% endif %} {{ participant_form.instrument.label_tag }} {{ participant_form.instrument }} {% if participant_form.instrument.errors %}
                        <div class="errors"> {% for error in participant_form.instrument.errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    </div>
                    {% endfor %}
                    <br />
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" id="review-button" class="next action-button" value="Review" />
                </fieldset>
                <fieldset id="review">
                    <h2>Please review before submitting</h2>
                    <table>
                        <colgroup>
                            <col style="width: 50%" />
                            <col style="width: 50%" />
                        </colgroup>
                    </table>
                    <input type="button" name="previous" class="previous action-button" value="Edit" />
                    <input type="submit" name="submit" class="submit action-button button" value="Submit" />
                </fieldset>
            </form>
            <footer>
                <p><a href="mailto:webmaster@pravega.org">Contact us</a> if you need any help!</p>
            </footer>
        </div>
    </div>
    <div id="floating-footer">
        <a target="_blank" href="https://www.facebook.com/PravegaIISc/">
            <div class="fab-icon">
                <div class="fab-desc triangle-isosceles">
                    <h6>Facebook</h6>
                </div>
                <img src="{% static 'img/fb.svg' %}">
            </div>
        </a>
        <a target="_blank" href="https://twitter.com/PravegaIISc">
            <div class="fab-icon">
                <div class="fab-desc triangle-isosceles">
                    <h6>Twitter</h6>
                </div>
                <img src="{% static 'img/Twitter.svg' %}">
            </div>
        </a>
    </div>
    <div id="footer">
        <div id="social">
            <a target="_blank" href="https://www.facebook.com/PravegaIISc/"><img src="{% static 'img/fb.svg' %}"></a>
            <a target="_blank" href="https://twitter.com/PravegaIISc"><img src="{% static 'img/Twitter.svg' %}"></a>
        </div>
        <ul id="links">
            <li><a target="_blank" href="http://pravega.org/registrations/">Registrations</a></li>
            <li><a href="http://pravega.org/index.html">Home</a></li>
            <li><a href="http://pravega.org/contact.html">Contact</a></li>
        </ul>
    </div>
    <!-- Include formset plugin - including jQuery dependency -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/TweenLite.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/menu.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/reg.js' %}" type="text/javascript"></script>
    <script>
        $('.participant-formset').formset({
            addText: 'Add participant',
            deleteText: 'Remove Participant',
            addAnimationDuration: 100,
            removeAnimationDuration: 100
        });
    </script>
    <script type="text/javascript">
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-87281359-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>