<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registration | Pravega Innovation Summit | Pravega 2018</title>
    {% load static %}
    <meta name="description" content="Registration for Pravega Innovation Summit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/reg.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/hamburger.css' %}" rel="stylesheet" type="text/css" />
    <style>
    body {
        background-image: url({% static "img/physics_back.svg" %});
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    </style>
</head>

<body>
    <div id="sidebar" class="clearfix">
        <div id="tog-button-mobile">
            <div class="li-img">
                <button class="c-hamburger c-hamburger--htx">
                    <span>toggle menu</span>
                </button>
            </div>
            <a href="index.html">
                    <img id="header-logo" src="{% static 'img/logo.svg' %}" />
                    <div class="li-text nav-desc">
                        <h3 id="title">Pravega</h3>
                    </div>
                </a>
        </div>
        <div id="iconbar">
            <ul>
                <li id="tog-button-desktop">
                    <div class="li-img">
                        <button class="c-hamburger c-hamburger--htx">
                            <span>toggle menu</span>
                        </button>
                    </div>
                    <div class="li-text nav-desc">
                        <h3>Some text toggle</h3>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/biology.html">
                        <div class="li-img"><img src="{% static 'img/Biology.png' %}" /></div>
                        <div class="li-text">Biology</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Biology</h3>
                        <p>Biology gives you a brain, life turns it into a mind. Exercise that mind to find the culprit of a murder in Whodunit, and to paint up a masterpiece in PECOSA.</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/chemistry.html">
                        <div class="li-img"><img src="{% static 'img/Chemistry.png' %}" /></div>
                        <div class="li-text">Chemistry</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Chemistry</h3>
                        <p>Never trust atoms, they make up everything. Make up your artwork using mysterious chemical concoctions, and then explain the CheMystery behind the masked magician's acts.</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/maths.html">
                        <div class="li-img"><img src="{% static 'img/math.png' %}" /></div>
                        <div class="li-text">Mathematics</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Maths</h3>
                        <p>Mathematics is a place where you can do things, which you cannot do in the real world. Explore this idea, as you strategize for the Daedalian auction and learn the Tricks of Trade.</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/physics.html">
                        <div class="li-img"><img src="{% static 'img/Physics.png' %}" /></div>
                        <div class="li-text">Physics</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Physics</h3>
                        <p>No one undertakes research in Physics with the intention of winning a prize. They do it for the joy of discovering something no one knew before. Explore this joy while experiencing Decoherence, and shoot a Vacuum Cannon while you’re at it.</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/engine.html">
                        <div class="li-img"><img src="{% static 'img/Technical.png' %}" /></div>
                        <div class="li-text">Engineering</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Engineering</h3>
                        <p>Engineering is the closest thing to magic existing in the world. Use that magic to create robots and tanks, to break code and decrypt secured files, and enjoy the same while shooting your enemies down in a game of laser tag.</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/lasya.html">
                        <div class="li-img"><img src="{%static 'img/Lasya.png' %}" /></div>
                        <div class="li-text">Lasya</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Lasya</h3>
                        <p>Dance is magical, something that sets you free. It is dreaming with your feet, and exhibiting your passion. Display your own passion in this dance extravaganza, and leave the stage on fire.</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/bob.html">
                        <div class="li-img"><img src="{% static 'img/BoB.png' %}" /></div>
                        <div class="li-text">BoB</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Battle of Bands</h3>
                        <p>A band is not proud because it performs well, it performs well because it is proud. Put your pride and that of your band on the line, in the Battle of the Bands, and blow the roof off!</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="http://pravega.org/pros.html">
                        <div class="li-img"><img src="{% static 'img/Proscenium.png' %}" /></div>
                        <div class="li-text">Proscenium</div>
                    </a>
                    <div class="dropdown"><img src="{% static 'img/downCaret.png' %}"></div>
                    <div class="extra-info">
                        <h3>Proscenium</h3>
                        <p>Acting is everyone’s favorite second-job. Change your look and your attitude, and you can be anyone. In Proscenium, we believe an ounce of action is worth a pound of words. So stop explaining yourself, Act!</p>
                    </div>
                </li>
            </ul>
        </div>
        <div id="infobar">
            <div class="infobar-content">
                <h3>Introduction</h3>
                <p>Go on, click on one of the buttons below, to discover a host of exciting events, which you might want to check out!
                </p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/biology.html"><h3>Biology</h3></a>
                <p>Biology gives you a brain, life turns it into a mind. Exercise that mind to find the culprit of a murder in Whodunit, and to paint up a masterpiece in PECOSA.</p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/chemistry.html"><h3>Chemistry</h3></a>
                <p>Never trust atoms, they make up everything. Make up your artwork using mysterious chemical concoctions, and then explain the CheMystery behind the masked magician's acts.</p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/maths.html"><h3>Math</h3></a>
                <p>Mathematics is a place where you can do things, which you cannot do in the real world. Explore this idea, as you strategize for the Daedalian auction and learn the Tricks of Trade.</p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/physics.html"><h3>Physics</h3></a>
                <p>No one undertakes research in Physics with the intention of winning a prize. They do it for the joy of discovering something no one knew before. Explore this joy while experiencing Decoherence, and shoot a Vacuum Cannon while you’re at it.</p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/engine.html"><h3>Engineering</h3></a>
                <p>Engineering is the closest thing to magic existing in the world. Use that magic to create robots and tanks, to break code and decrypt secured files, and enjoy the same while shooting your enemies down in a game of laser tag.</p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/lasya.html"><h3>Lasya</h3></a>
                <p>Dance is magical, something that sets you free. It is dreaming with your feet, and exhibiting your passion. Display your own passion in this dance extravaganza, and leave the stage on fire.
                </p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/bob.html"><h3>Battle of Bands</h3></a>
                <p>A band is not proud because it performs well, it performs well because it is proud. Put your pride and that of your band on the line, in the Battle of the Bands, and blow the roof off!</p>
            </div>
            <div class="infobar-content">
                <a href="http://pravega.org/pros.html"><h3>Proscenium</h3></a>
                <p>Acting is everyone’s favorite second-job. Change your look and your attitude, and you can be anyone. In Proscenium, we believe an ounce of action is worth a pound of words. So stop explaining yourself, Act!</p>
            </div>
        </div>
    </div>
    <!-- SideBar gets over-->
    <div id="disabler"></div>
    <div id="main">
        <div class="content">
            <h1>Pravega Innovation Summit</h1> {% if error_message %}
            <div class="form-error"><strong>{{ error_message }}</strong></div>{% endif %}
            <form action="{% url 'registrations:pis' %}" method="post" enctype="multipart/form-data" id="msform">
                <ul id="progressbar">
                    <li>Rules</li>
                    <li>Identification</li>
                    <li>Contact
                        <br/>Details</li>
                    <li>Project
                        <br/>Information</li>
                    <li>Participant
                        <br/>Details</li>
                </ul>
                {% csrf_token %} {% if registration_form.errors %}
                <div class="errors"> {% for field in registration_form %} {% for error in field.errors %}
                    <p> {{ errors }} </p>
                    {% endfor %} {% endfor %} {% for error in registration_form.non_field_errors %}
                    <p> {{ error }} </p>
                    {% endfor %}
                </div>
                {% endif %}
                <fieldset>
                    <h2>Rules and Regulations</h2>
                    <ol class="rules">
                        <li>All team members must be students enrolled in an academic institution.</li>
                        <li>Each team can have a maximum of 4 members.</li>
                        <li>Ideas submitted must be original.</li>
                        <li>The contest comprises of 3 stages.
                            <ol style="list-style-type: none; font-size: 0.8em;">
                                <li>Round 1: Preliminaries
                                    <ol class="deep">
                                        <li>Teams register online at our portal. There is no registration fee.</li>
                                        <li>Teams must submit a description of their innovation by the first deadline. Additional files such as videos, presentations, websites URLs etc can be uploaded to support their description.</li>
                                        <li>Teams need to Submit a short video of the working prototype within the second deadline.</li>
                                        <li>The team will be considered selected for the next round based on their idea description and prototype video.</li>
                                        <li>Ideas can be from any field or interdisciplinary including science, mathematics, engineering, economics, social sciences, etc.</li>
                                    </ol>
                                </li>
                                <li>Round 2: Semi-finals
                                    <ol class="deep">
                                        <li>15 to 20 teams shall be selected from across the country. Selection will be done by IISc and IIM professors.</li>
                                        <li>Teams selected to Round 2 will be notified and will participate in workshops and/or related events that will help them enhance pitching methods, business strategies and help develop business models.</li>
                                        <li>Teams will make and send new presentations using the skills they have acquired. Proof of concept must also be submitted. These presentations will be used for selection into the next round.</li>
                                    </ol>
                                </li>
                                <li>
                                    Round 3: Finals
                                    <ol class="deep">
                                        <li>Eight teams will be selected for the final round, which will be conducted at IISc, Bangalore during the course of Pravega 2018. Exact date and timings will be notified to the finalists.</li>
                                        <li>The teams will present their model to a panel of judges and invitees consisting of corporate professionals, investors, IISc and IIM professors.</li>
                                        <li>Winning teams will be announced the same day. Winning teams get cash prizes worth up to Rs. 1 lakh.</li>
                                        <li>All finalists get the opportunity to interact with corporates, investors and leading science professionals. Teams may also be offered internships in leading companies based on their interaction with the companies.</li>
                                        <li>Pravega will respect the privacy preferences chosen by the team.</li>
                                        <li>Any dispute arising due to any confusion regarding the contest shall be resolved at IISc by a Pravega committee. Pravega and the decision or resolution provided will be considered final. Pravega reserves the right to change specifics of the competition without prior notice. All decisions by Pravega shall be final and binding.</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <p>You can also download a copy of the rules for all events as a PDF <a style="color: blue;" href="{% static 'rules/rules.pdf' %}">here</a>.</p>
                    <p>Have you read and understood the above regulations?</p>
                    <label style="padding-left:2%;">Yes</label>
                    <input type="checkbox" name="understood" id="understood" />
                    <br/>
                    <input type="button" name="next" id="continue" class="action-button" value="Continue" />
                </fieldset>
                <fieldset class="real">
                    {{ registration_form.team_name.label_tag }} {{ registration_form.team_name }} {% if registration_form.team_name.errors %}
                    <div class="errors"> {% for error in registration_form.team_name.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.registered_company.label_tag }} {{ registration_form.registered_company }} {% if registration_form.registered_company.errors %}
                    <div class="errors"> {% for error in registration_form.registered_company.errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    <br/>
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset class="real">
                    {{ registration_form.contact.label_tag }} {{ registration_form.contact }} {% if registration_form.contact.errors %}
                    <div class="errors">{% for error in registration_form.contact.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.address.label_tag }} {{ registration_form.address }} {% if registration_form.address.errors %}
                    <div class="errors">{% for error in registration_form.address.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.email.label_tag }} {{ registration_form.email }} {% if registration_form.email.errors %}
                    <div class="errors"> {% for error in registration_form.email.errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset class="real">
                    {{ registration_form.project_name.label_tag }} {{ registration_form.project_name }} {% if registration_form.project_name.errors %}
                    <div class="errors"> {% for error in registration_form.project_name.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.project_field.label_tag }} {{ registration_form.project_field }} {% if registration_form.project_field.errors %}
                    <div class="errors"> {% for error in registration_form.project_field.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.project_abstract.label_tag }} {{ registration_form.project_abstract }} {% if registration_form.project_abstract.errors %}
                    <div class="errors"> {% for error in registration_form.project_abstract.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.project_patented.label_tag }} {{ registration_form.project_patented }} {% if registration_form.project_patented.errors %}
                    <div class="errors"> {% for error in registration_form.project_patented.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.project_file.label_tag }} {{ registration_form.project_file }} {% if registration_form.project_file.errors %}
                    <div class="errors"> {% for error in registration_form.project_file.errors %} {{ error|escape }} {% endfor %} </div>
                    {% endif %} {{ registration_form.privacy_preference.label_tag }} {{ registration_form.privacy_preference }} {% if registration_form.privacy_preference.errors %}
                    <div class="errors"> {% for error in registration_form.privacy_preference.errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset class="real" id="participants">
                    {{ participant_formset.management_form }} {% for participant_form in participant_formset %}
                    <div class="participant-formset">
                        {% if participant_form.errors %}
                        <div class="errors"> {% for field in participant_form %} {% for error in field.errors %}
                            <p> {{ errors }} </p>
                            {% endfor %} {% endfor %}
                        </div>
                        {% endif %} {{ participant_form.name.label_tag }} {{ participant_form.name }} {% if participant_form.name.errors %}
                        <div class="errors"> {% for error in participant_form.name.errors %} {{ error|escape }} {% endfor %} </div>
                        {% endif %} {{ participant_form.city.label_tag }} {{ participant_form.city }} {% if participant_form.city.errors %}
                        <div class="errors"> {% for error in participant_form.city.errors %} {{ error|escape }} {% endfor %} </div>
                        {% endif %} {{ participant_form.institution.label_tag }} {{ participant_form.institution }} {% if participant_form.institution.errors %}
                        <div class="errors"> {% for error in participant_form.institution.errors %} {{ error|escape }} {% endfor %} </div>
                        {% endif %} {{ participant_form.student_type.label_tag }} {{ participant_form.student_type }} {% if participant_form.student_type.errors %}
                        <div class="errors"> {% for error in participant_form.student_type.errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    </div>
                    {% endfor %} {% if participant_formset.non_form_errors %}
                    <div class="errors">{% for error in participant_formset.non_form_errors %} {{ error|escape }} {% endfor %} </div>{% endif %}
                    <br />
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset id="review">
                    <h2>Please review before submitting</h2>
                    <table>
                        <colgroup>
                            <col style="width: 50%" />
                            <col style="width: 50%" />
                        </colgroup>
                    </table>
                    <input type="button" name="previous" class="previous action-button" value="Edit" />
                    <input type="submit" name="submit" class="submit action-button button" value="Submit" />
                </fieldset>
            </form>
            <footer>
                <p><a href="mailto:webmaster@pravega.org">Contact us</a> if you need any help!</p>
            </footer>
        </div>
    </div>
    <div id="floating-footer">
        <a target="_blank" href="https://www.facebook.com/PravegaIISc/">
            <div class="fab-icon">
                <div class="fab-desc triangle-isosceles">
                    <h6>Facebook</h6></div>
                <img src="{% static 'img/fb.svg' %}">
            </div>
        </a>
        <a target="_blank" href="https://twitter.com/PravegaIISc">
            <div class="fab-icon">
                <div class="fab-desc triangle-isosceles">
                    <h6>Twitter</h6></div>
                <img src="{% static 'img/Twitter.svg' %}">
            </div>
        </a>
        <a target="_blank" href="http://pravega.org/registrations/">
            <div class="fab-icon">
                <div class="fab-desc triangle-isosceles">
                    <h6>Registrations</h6></div>
                <img src="{% static 'img/register.png' %}">
            </div>
        </a>
        <a href="http://pravega.org/contact.html">
            <div class="fab-icon">
                <div class="fab-desc triangle-isosceles">
                    <h6>Contact Us</h6></div>
                <img src="{% static 'img/phone.svg' %}">
            </div>
        </a>
        <a href="http://pravega.org/index.html">
            <div class="fab-icon">
                <div class="fab-desc triangle-isosceles">
                    <h6>Home</h6></div>
                <img src="{% static 'img/home.svg' %}">
            </div>
        </a>
    </div>
    <div id="footer">
        <div id="social">
            <a target="_blank" href="https://www.facebook.com/PravegaIISc/"><img src="{% static 'img/fb.svg' %}" style=""></a>
            <a target="_blank" href="https://twitter.com/PravegaIISc"><img src="{% static 'img/Twitter.svg' %}"></a>
        </div>
        <ul id="links">
            <li><a target="_blank" href="http://pravega.org/registrations/">Registrations</a></li>
            <li><a href="http://pravega.org/index.html">Home</a></li>
            <li><a href="http://pravega.org/contact.html">Contact</a></li>
        </ul>
    </div>
    <!-- Include formset plugin - including jQuery dependency -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/TweenLite.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/menu.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/reg.js' %}" type="text/javascript"></script>
    <script>
    $('.participant-formset').formset({
        addText: 'Add participant',
        deleteText: 'Remove Participant',
        addAnimationDuration: 100,
        removeAnimationDuration: 100
    });
    </script>
</body>

</html>
