@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');
html,
body {
    margin: 0;
    padding-left: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    position: relative;
    width: calc(100% - 100px);
    left: 100px;
    text-align: center;
    line-height: 1.2;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}

.content p {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}

.reglinks {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.nav-link {
    width: 60vw;
    height: auto;
    color: white;
    display: block;
    padding: 20px 20px 20px 20px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    text-align: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 5000;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#iconbar {
    height: 100vh;
    width: auto;
    display: inline-block;
    float: left;
    z-index: 5000;
    overflow-x: hidden;
    overflow-y: auto;
}

#iconbar ul {
    width: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 5000;
}

#iconbar ul li {
    display: block;
    border-left: solid 0px #7876f8;
    -webkit-transition: border-left 0.2s ease;
    transition: border-left 0.2s ease;
}

#iconbar ul li.mobile {
    display: none;
}

#iconbar ul li:hover {
    border-left: solid 7px #7876f8;
    -webkit-transition: border-left 0.2s ease;
    transition: border-left 0.2s ease;
}

.li-img img {
    width: 34px;
    height: auto;
    margin: 0 auto;
    display: block;
}

#tog-button-desktop .li-img img {
    margin-top: 12.5%;
}

.nav-desc,
.extra-info {
    display: none;
}

#tog-button-desktop {
    display: block;
    width: 85px;
    height: auto;
}

#tog-button-mobile {
    display: none;
}

#tog-button-mobile .li-img,
#tog-button-mobile .li-text {
    transform: none;
}

#tog-button-desktop:hover {
    border-left: solid 0px #7876f8;
}

.nav-item {
    width: 95px;
    height: auto;
    padding: 10% 0 10%;
    cursor: pointer;
}

.li-text {
    text-align: center;
    font-size: calc(1.5vh);
    position: relative;
    left: -95px;
    -webkit-transition: left 100ms ease-in-out;
    transition: left 100ms ease-in-out;
    margin: 10px 0 0;
}

.vis {
    left: 0px;
    -webkit-transition: left 100ms ease-in-out;
    transition: left 100ms ease-in-out;
}

#infobar {
    width: 0;
    height: 100%;
    float: left;
    overflow: hidden;
    z-index: 4000;
}

.infobar-content {
    position: relative;
    opacity: 0;
    padding: 10px 20px;
    -webkit-backface-visibility: hidden;
}

.infobar-content p {
    font-size: 1em;
    text-align: left;
}

.dropdown {
    display: none;
}

.nav-highlight-item {
    border-left: solid 7px #DF9EF3 !important;
}

.expand-menu {
    margin-left: -20px;
    margin-right: -20px;
    width: 300px;
}

.expand-menu-img {
    width: 50px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}

.expand-menu-img.active {
    border-style: solid;
    border-width: thin;
    border-color: aqua;
}

.expand-menu-text {
    padding-left: 20px;
    padding-right: 20px;
    height: 0px;
    overflow-y: hidden;
    opacity: 0;
    transition: height 0.2s ease-in, opacity 0.3s ease-in;
}

.expand-menu-text.active {
    height: auto;
    opacity: 1;
    transition: height 0.2s ease-in, opacity 0.3s ease-in;
}

.expand-img-highlight {
    border: solid thin #DF9EF3 !important;
}

.desktop .li-img img {
    border-radius: 50%;
    border: 1px solid white;
    width: 34px;
}

.content {
    position: relative;
    height: 100%;
    margin: auto;
    display: block;
}

.content-img {
    height: 50%;
    margin: auto;
    display: inline-block;
}

.content-text {
    padding-left: 20px;
    padding-right: 100px;
    width: calc(60% - 80px);
    line-height: 100%;
    display: inline-block;
    text-align: justify;
}

#fullpage {
    z-index: 1000;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4vh;
    background: #000;
    display: flex;
    color: white;
    display: none;
    z-index: 5000;
}

#social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#main {
    padding-left: 100px;
    height: 100%;
}

#links {
    position: absolute;
    right: 0;
    font-size: 2vh;
    line-height: 4vh;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#links a,
#floating-footer a {
    color: white;
    text-decoration: none;
}

#links li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

#social img {
    height: 3vh;
    margin: 0.5vh 5px;
    width: auto;
}

#floating-footer {
    position: fixed;
    z-index: 5000;
    bottom: 50px;
    right: 50px;
    transform-origin: bottom right;
    transform: scale(0.6);
}

.fab-icon {
    height: 120px;
    width: 120px;
    float: left;
}

.triangle-isosceles {
    position: relative;
    padding: 10px;
    margin: 1em 0 3em;
    border-radius: 10px;
}

.triangle-isosceles:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 25px);
    width: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #000 transparent;
    padding-bottom: 5px;
}

.fab-icon img {
    position: relative;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid rgb(50, 50, 50);
    background-color: black;
    box-shadow: -2px -2px 2px #888888;
}

.fab-desc {
    position: relative;
    top: 0;
    width: 140px;
    height: 40px;
    background-color: black;
    align-content: center;
    vertical-align: middle;
    margin: 0 0 0.8vh 0;
    visibility: hidden;
    border-radius: 1vh;
    border: 1px solid black;
}

.fab-icon:hover .fab-desc {
    visibility: visible;
}

.fab-desc h6 {
    color: white;
    position: relative;
    top: 50%;
    margin: 0 auto 0 auto;
    transform: translateY(-50%);
    font-size: 1.25em;
    text-align: center;
}

#msform {
    width: 60vw;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 88%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}

.add-row,
.delete-row {
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    background-color: black;
    margin: 10px 0 10px 0;
}

.participant-formset {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid gray;
}

footer {
    padding-left: 100px;
}

footer p {
    text-align: center;
}

footer a {
    color: blue;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input,
#msform textarea,
#msform select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #2C3E50;
    font-size: 13px;
}

#msform input[type=checkbox] {
    width: 5%;
}

#msform .action-button {
    text-align: center;
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

#progressbar {
    position: relative;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

.rules {
    text-align: justify;
}

td {
    vertical-align: top;
}

.rules li {
    font-size: 1.2em;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #27AE60;
    color: white;
}

.field-error {
    font-size: 1em;
    font-family: 'Raleway';
    color: red;
}

.form-error {
    background-color: red;
    color: white;
    height: 30px;
    padding-top: 12px;
    padding-left: 10px;
    border-radius: 10px;
    border-color: brown;
    border-style: solid;
    text-align: center;
}

#review td {
    text-align: left;
    padding-left: 0.1em;
}

.field-label {
    text-align: right!important;
}

.fieldset-legend {
    text-align: center!important;
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 1px solid grey;
}

.errors {
    color: red;
    height: auto;
    width: 100%;
    padding: 10px 0 10px 0;
    margin: auto;
    text-align: center;
}

#review table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.deep {
    font-size: 0.85em;
}

fieldset label {
    display: inline-block;
    padding-bottom: 5px;
}

@media only screen and (max-width: 900px),
(max-height: 500px) {
    .reglinks {
        top: 0;
        transform: translateY(0);
    }
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 60px;
        max-height: 100%;
        width: 100%;
    }
    #iconbar {
        height: 0;
        max-height: 100%;
        position: fixed;
        width: 100%;
        top: 60px;
        display: block;
        background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        overflow-y: auto;
    }
    #iconbar ul {
        /* height: auto; */
        width: 100%;
        list-style: none;
        display: inline-block;
        padding: 0;
    }
    #iconbar ul li,
    .extra-info {
        background-color: rgba(0, 0, 0, 0.4);
    }
    #iconbar ul li:hover {
        border-left: none;
    }
    #tog-button-desktop,
    #tog-button-desktop * {
        height: 0;
        display: none;
        padding: 0;
        margin: 0;
    }
    #tog-button-mobile {
        position: fixed;
        display: block;
        width: 100%;
        height: 60px;
        background-color: rgb(0, 0, 0);
        z-index: 5001;
    }
    .nav-item {
        clear: both;
        width: 100%;
        height: 60px;
        align-content: center;
        align-items: center;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        padding: 0;
    }
    .content p {
        font-weight: 400;
        font-size: 1em;
    }
    .li-img {
        top: -15px;
        position: relative;
        float: left;
        width: 80px;
        height: 60px;
    }
    .li-img img {
        margin: 0;
        padding: 15px 25px 15px 25px;
    }
    #tog-button-mobile .li-img {
        float: right;
        top: 0px;
        width: 80px;
    }
    #tog-button-mobile .li-img img {
        padding: 10px 28px 15px 22px;
    }
    #tog-button-mobile .li-text {
        top: calc(30px - 1.2em);
    }
    .extra-info h3 {
        display: none;
    }
    .dropdown img {
        display: block;
        height: 15px;
        width: auto;
        margin: 10px auto;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        float: left;
        left: 0px;
        height: 60px;
        width: 80px;
        transform: rotate(0deg);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .inverted {
        transform: rotate(180deg);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .extra-info {
        display: block;
        height: 0;
        width: 100%;
        clear: both;
        overflow: hidden;
        padding: 0 15px 0px;
        box-sizing: border-box;
    }
    .extra-info h3 {
        margin-top: 5px;
    }
    .extra-info p {
        margin: 0 0 5% 0;
    }
    .li-text {
        margin-top: 0px;
        position: relative;
        float: left;
        left: 0px;
        top: calc(30px - 1.2em);
        font-size: 1.2em;
        width: calc(100% - 162px);
    }
    .nav-desc {
        margin: 0;
        position: absolute;
        align-content: center;
        align-items: center;
        vertical-align: middle;
        display: inline;
        left: 82px;
    }
    .nav-desc h3 {
        margin: 5px 0 0 0;
        text-align: center;
    }
    #header-logo {
        padding: 10px 20px 10px 20px;
        width: 40px;
        height: 40px;
        float: left;
    }
    #title {
        margin: 0;
        font-size: 2em;
    }
    .content {
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 0;
        left: 0;
        align-items: center;
    }
    .content>h1 {
        width: 100%;
        text-align: center;
        left: 0;
        display: block;
    }
    .content-text {
        width: 80%;
        height: auto;
        text-align: left;
        padding-left: 40px;
        padding-right: 80px;
    }
    .content-text h1 {
        font-size: 1.25em;
    }
    .content-img {
        display: none;
    }
    .subject {
        position: fixed;
        display: block;
        font-size: 1.75em;
        top: 70px;
        margin-left: auto;
        margin-right: auto;
    }
    #floating-footer {
        display: none;
    }
    #footer {
        bottom: 0;
        display: flex;
    }
    #social {
        left: 5px;
        transform: translateX(0);
    }
    #registration-title {
        font-size: 1.75em;
        padding-top: 15px;
    }
    .nav-link {
        position: relative;
        width: 80%;
        display: block;
        margin: 10px auto;
    }
    #msform {
        width: 100vw;
        margin: auto;
        padding: 0;
    }
    #main {
        padding: 60px 0;
    }
    .rules li {
        text-align: left;
    }
    .deep {
        margin-left: -40px!important;
    }
    footer {
        width: 100vw;
        left: 0;
        padding: 0 0 90px 0;
        margin: 0;
    }
    #progressbar {
        left: 0;
        margin-left: 0;
        padding-left: 0;
    }
    #review td {
        vertical-align: bottom;
    }
    #msform fieldset {
        margin-left: 6%;
    }
    .mobile {
        display: block!important;
    }
    .desktop {
        display: none!important;
    }
}